body {
    background: black;
}



h1 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    font-family: 'Press Start 2P', cursive;
}

a  {
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 50px;
    display: block;
    border-radius: 10px;
    border: 5px dashed yellow;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    color: red;
    font-family: 'Press Start 2P', cursive;
}

div a:hover {
    color: red;
    background-color: gold;
}




