body {
    margin: 0;
    padding: 0;
}

#game-screen {
  display: block;  
}

#gameOver, #playHUD, #gameStart {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: red;
    text-align: center;
    
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: gold;
}
#scoreboard {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}




